@charset "utf-8";

//- Bulma

@use "bulma/sass/utilities/mixins";

@use "bulma/sass/grid/columns.scss";

// @TODO local fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Normalize

:root {
  --default-font-family: 'Montserrat', sans-serif;
  --default-title-color: #134486;
  --default-text-color: #222;
  --inverted-title-color: #fff;
  --inverted-text-color: #fff;
  --default-accent-color: #f39200;
  --section-background-color: #7b3c8f;
  --section-alt-background-color: #d60b51;
  --footer-background: #134486;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
}

h2 {
  color: var(--default-title-color);
  text-align: center;
  text-transform: uppercase;
}

p {
  color: var(--default-text-color);
  line-height: 1.5em;
  margin-bottom: 1em;
}

#hero {
  .container {
    background-color: #444;
    height: 75vh;

    .hero-background {
      background: url('/img/hero-background.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      h1 {
        margin: 0 auto;
        text-align: center;

        img {
          max-width: 50%;
          margin: 0 auto;
          padding-top: 5%;
        }
      }
    }
  }
}

#pres {
  .container {
    padding: 2em 20%;

    hr {
      border-top: 2px solid var(--default-accent-color);
      width: 50%;
      margin: 2em auto;
    }

    .columns {
      .column {
        padding: 3%;
        margin: 0 auto;
        text-align: center;

        img {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}

#cust {
  background-color: var(--default-accent-color);

  .container {
    padding: 2em 24%;

    h2 {
      color: var(--default-text-color);
      text-transform: none;
    }

    ul {
      list-style-image: url("/ico/tick.svg");

      li {
        font-size: 1rem;
        color: var(--default-text-color);
        margin: 2rem 0;
      }
    }
  }
}

#why {
  .container {
    padding: 2em 24%;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        margin: 1rem 0;
      }
    }
    
  }
}

#cta {
  background-color: var(--section-alt-background-color);

  .container {
    padding: 2em 24%;
    text-align: center;

    h2 {
      color: var(--inverted-title-color);
      text-transform: none;
    }

    p {
      color: var(--inverted-text-color);

      &:last-of-type {
        margin-top: 3em;
      }

      .uppercase {
        text-transform: uppercase;
      }
    }

    .cta-button {
      color: var(--section-alt-background-color);
      font-weight: 600;
      text-transform: uppercase;
      background-color: var(--inverted-text-color);
      border: 1px solid var(--inverted-text-color);
      border-radius: 2em;
      padding: 1em;
      text-decoration: none;

      &:hover {
        background-color: var(--section-alt-background-color);
        color: var(--inverted-text-color);
      }
    }
  }
}

footer {
  background-color: var(--footer-background);

  .container {
    padding: 2em 4em;

    .columns {
      align-items: center;

      .column {
        padding: 0 2em;

        &:first-of-type {
            text-align: right;
          }
      }

    }

    img {
      max-width: 60%;
    }

    p,
    a {
      color: var(--inverted-text-color);
    }
  }

}

@media only screen and (orientation: portrait) {
  #hero .container .hero-background h1 img {
    max-width: 80%;
    padding-top: 15%;
  }
}

@media only screen and (max-width: 850px) {

  #pres .container,
  #cust .container,
  #why .container,
  #cta .container {
    padding: 2em 2em;
  }

  footer {
    .container {
      padding: 2em;

      .columns .column {
        &:first-of-type {
          text-align: center;
        }
    
        img {
          max-width: 100%;
        }

        p {
          font-size: 0.875em;
        }
      }    
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 850px) {
  #pres .container .columns .column {
    width: 50%;
  }

  footer {
    text-align: center;
  }
}
